################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/RoomsManagement.API/.vs/
/RoomsManagement.API/obj/

